<div class="btn-wrapper">
  <button type="button" class="btn btn-danger" (click)="routeBack()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
<div class="container custom-form" style="padding: 1.5em">
  <div
    _ngcontent-njr-c124=""
    class="d-flex justify-content-center pb-3 mb-4 border-bottom"
  >
    <h3>{{ form.name }}</h3>
  </div>
  <form
    #formDatas
    method="post"
    class="submittable-form"
    name="submittable-form"
    (submit)="getJson($event)"
  ></form>
</div>
