.container {
  width: 50vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 4px;
  padding: 1em 2em;
  margin: 1em auto;
}

.btn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 2em;
  text-align: right;
}
