<div class="parent-wrapper">
  <div class="title-control-wrapper">
    <div class="icon-wrapper">
      <i [class]="elementInfoList[formElement.type].class"></i>
      <p>{{ elementInfoList[formElement.type].title }}</p>
    </div>
    <div class="btn-wrapper">
      <button
        type="button"
        (click)="open(content, formElement.type)"
        class="btn btn-primary"
      >
        Edit
      </button>
      <button type="button" (click)="delete(index)" class="btn btn-danger">
        Delete
      </button>
    </div>
  </div>
  <div>
    <p><strong>Name: </strong> {{ formElement.name }}</p>
  </div>
</div>

<ng-template #content let-modal>
  <app-modal>
    <app-form-element-builder
      [formType]="formElement.type"
      [modal]="modal"
      [formElements]="formElement"
      [index]="index"
    ></app-form-element-builder>
  </app-modal>
</ng-template>
