<div class="header-wrapper">
  <form (submit)="onTitleSubmit($event)">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="title"
      name="title"
      (change)="onTitleChange()"
    />
  </form>

  <div class="button-wrapper">
    <button type="button" class="btn btn-light">
      <i class="fa-solid fa-eye"></i>
    </button>
    <button type="button" class="btn btn-danger" (click)="cancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>
