<div class="parent-wrapper">
  <div class="title-control-wrapper">
    <div class="icon-wrapper">
      <i [class]="elementInfoList[formType].class"></i>
      <p>{{ elementInfoList[formType].title }}</p>
    </div>
    <div class="btn-wrapper">
      <button
        type="button"
        (click)="modal.dismiss('Cross click')"
        class="btn btn-danger"
      >
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="saveElement()">
        Confirm
      </button>
    </div>
  </div>

  <div class="scroll-container">
    <div class="text-form-wrapper">
      <form>
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input
            [(ngModel)]="formElement.name"
            type="text"
            id="nameInput"
            name="name"
            class="form-control"
            placeholder="Enter form element's name"
            required
          />
        </div>
        <div class="form-group">
          <label for="idInput">ID</label>
          <input
            [(ngModel)]="formElement.ids"
            type="text"
            class="form-control"
            id="idInput"
            name="ids"
            placeholder="Enter form element's id"
          />
        </div>

        <div class="form-group">
          <label for="labelInput">Label</label>
          <input
            [(ngModel)]="formElement.label"
            type="text"
            class="form-control"
            id="labelInput"
            name="label"
            required
            placeholder="Enter form element's label"
          />
        </div>

        <div
          class="form-group"
          *ngIf="!elementChecklist[formType].includes('placeholder')"
        >
          <label for="placeholderInput">Placeholder</label>
          <input
            [(ngModel)]="formElement.placeholder"
            type="text"
            id="placeholderInput"
            class="form-control"
            name="placeholder"
            placeholder="Enter form element's placeholder"
          />
        </div>

        <div class="form-group">
          <label for="classInput">Class</label>
          <input
            type="text"
            [(ngModel)]="formElement.className"
            id="classInput"
            name="class"
            class="form-control"
            placeholder="Enter form element's class"
          />
        </div>

        <div
          class="form-group"
          *ngIf="!elementChecklist[formType].includes('value')"
        >
          <label for="classInput">Value</label>
          <input
            [(ngModel)]="formElement.value"
            type="text"
            id="valueInput"
            name="value"
            class="form-control"
            placeholder="Enter form element's value"
          />
        </div>

        <div
          class="form-group"
          *ngIf="!elementChecklist[formType].includes('fileType')"
        >
          <label for="fileTypeInput">File Type</label>
          <input
            type="text"
            [(ngModel)]="formElement.fileType"
            id="fileTypeInput"
            name="filetype"
            class="form-control"
            placeholder="Enter form element's file type"
          />
        </div>
        
        <div
          class="form-group"
          *ngIf="!elementChecklist[formType].includes('pattern')"
        >
          <label for="fileTypeInput">Pattern</label>
          <input
            type="text"
            [(ngModel)]="formElement.pattern"
            id="patternInput"
            name="pattern"
            class="form-control"
            placeholder="Enter pattern for input"
          />
        </div>

        <div *ngIf="!elementChecklist[formType].includes('rows-cols')">
          <div class="form-group">
            <label for="rowsInput">Rows</label>
            <input
              type="number"
              [(ngModel)]="formElement.rows"
              id="rowsInput"
              name="rows"
              class="form-control"
              placeholder="Enter text area's row count"
              min="1"
            />
          </div>

          <div class="form-group">
            <label for="colsInput">Cols</label>
            <input
              type="number"
              [(ngModel)]="formElement.cols"
              id="colsInput"
              name="cols"
              class="form-control"
              placeholder="Enter text area's col count"
              min="1"
            />
          </div>
        </div>
      </form>
    </div>

    

    <div
      class="options-wrapper"
      *ngIf="!elementChecklist[formType].includes('options')"
    >
      <p>Options</p>
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="example-list">
        <form>
          <div 
            class="form-group example-dialog-content" cdkDrag
            *ngFor="let option of formElement.options; index as i"
          >
          <div *cdkDragPreview></div>
            <div class="options-alignment">
              <label for="optionValue">Name</label>
              <input
                type="text"
                id="optionName"
                class="form-control"
                [value]="option.name"
                placeholder="..."
                required
                (change)="updateOptionNameField($event, i)"
              />
            </div>
            <div class="options-alignment">
              <label for="optionValue">Value</label>
              <input
                type="text"
                id="optionValue"
                class="form-control"
                [value]="option.value"
                placeholder="..."
                required
                (change)="updateOptionValueField($event, i)"
              />
            </div>

            <button 
              type="button"
              class="btn btn-danger"
              *ngIf="formElement.options.length !== 1"
              (click)="removeOptionField(i)"
            >
              <i class="fa-solid fa-minus"></i>
            </button>
          </div>

          <div class="btn-add-wrapper">
            <button
              type="button"
              class="btn btn-primary btn-add"
              (click)="addOptionField()"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="formType!==6" class="settings-wrapper">
      <p>Settings</p>
      <div class="checkbox-wrapper">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
            name="required"
            [(ngModel)]="formElement.required"
          />
          <label class="form-check-label" for="inlineCheckbox1">Required</label>
        </div>
        <div
          class="form-check form-check-inline"
          *ngIf="!elementChecklist[formType].includes('multiple')"
        >
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            name="multiple"
            [(ngModel)]="formElement.multiple"
            value="option2"
          />
          <label class="form-check-label" for="inlineCheckbox2">Multiple</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox3"
            name="disabled"
            [(ngModel)]="formElement.disabled"
            value="option3"
          />
          <label class="form-check-label" for="inlineCheckbox3">Disabled</label>
        </div>
      </div>
    </div>

  <div *ngIf="formType===6">
    <div *ngFor="let formElementI of formElement.addableFields; index as i">
      <div style="position: relative; text-align: right;">
        <button 
        type="button"
        class="btn btn-danger"
        *ngIf="formElement.addableFields.length !== 1"
        (click)="removeAddableInputField(i)"
        >
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div  style="border: solid;">

      
      <div class="text-form-wrapper">
        <form>
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input
              [(ngModel)]="formElementI.name"
              type="text"
              id="nameInput"
              name="name"
              class="form-control"
              placeholder="Enter form element's name"
              required
            />
          </div>
          <div class="form-group">
            <label for="idInput">ID</label>
            <input
              [(ngModel)]="formElementI.ids"
              type="text"
              class="form-control"
              id="idInput"
              name="ids"
              placeholder="Enter form element's id"
            />
          </div>

          <div class="form-group">
            <label for="labelInput">Label</label>
            <input
              [(ngModel)]="formElementI.label"
              type="text"
              class="form-control"
              id="labelInput"
              name="label"
              required
              placeholder="Enter form element's label"
            />
          </div>

          <div
            class="form-group"
            *ngIf="!elementChecklist[0].includes('placeholder')"
          >
            <label for="placeholderInput">Placeholder</label>
            <input
              [(ngModel)]="formElementI.placeholder"
              type="text"
              id="placeholderInput"
              class="form-control"
              name="placeholder"
              placeholder="Enter form element's placeholder"
            />
          </div>

          <div class="form-group">
            <label for="classInput">Class</label>
            <input
              type="text"
              [(ngModel)]="formElementI.className"
              id="classInput"
              name="class"
              class="form-control"
              placeholder="Enter form element's class"
            />
          </div>

          <div
            class="form-group"
            *ngIf="!elementChecklist[0].includes('value')"
          >
            <label for="classInput">Value</label>
            <input
              [(ngModel)]="formElementI.value"
              type="text"
              id="valueInput"
              name="value"
              class="form-control"
              placeholder="Enter form element's value"
            />
          </div>
          
          <div
            class="form-group"
            *ngIf="!elementChecklist[0].includes('pattern')"
          >
            <label for="fileTypeInput">Pattern</label>
            <input
              type="text"
              [(ngModel)]="formElementI.pattern"
              id="patternInput"
              name="pattern"
              class="form-control"
              placeholder="Enter pattern for input"
            />
          </div>


        </form>
      </div>

      

      <div class="settings-wrapper">
        <p>Settings</p>
        <div class="checkbox-wrapper">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
              name="required"
              [(ngModel)]="formElement.required"
            />
            <label class="form-check-label" for="inlineCheckbox1">Required</label>
          </div>
          <div
            class="form-check form-check-inline"
            *ngIf="!elementChecklist[formType].includes('multiple')"
          >
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              name="multiple"
              [(ngModel)]="formElement.multiple"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2">Multiple</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              name="disabled"
              [(ngModel)]="formElement.disabled"
              value="option3"
            />
            <label class="form-check-label" for="inlineCheckbox3">Disabled</label>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="btn-add-wrapper">
    <button
      type="button"
      class="btn btn-primary btn-add"
      *ngIf="formElement.addableFields.length !== 3"
      (click)="addAddableInputField()"
    >
      Add
    </button>
  </div>
</div>

</div>

</div>
