.header-section {
  display: flex;
  height: 70px;
  gap: 4px;
  margin: 4px;

  .logo-wrapper {
    height: 100%;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
      font-size: 1.2em;
    }
  }
}

.body-section {
  display: flex;
  gap: 4px;
  margin: 4px;
}
