<aside class="form-element-wrapper">
  <div class="title-wrapper">
    <p>Form Elements</p>
    <div class="line"></div>
  </div>
  <div class="element-wrapper">
    <div class="form-element">
      <div class="icon-wrapper">
        <i class="fa-solid fa-align-left"></i>
        <p>Text Field</p>
      </div>
      <div class="add-wrapper">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="form-element">
      <div class="icon-wrapper">
        <i class="far fa-caret-square-down"></i>
        <p>Select</p>
      </div>
      <div class="add-wrapper">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="form-element">
      <div class="icon-wrapper">
        <i class="fa-solid fa-square-check"></i>
        <p>Checkbox</p>
      </div>
      <div class="add-wrapper">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="form-element">
      <div class="icon-wrapper">
        <i class="fa-solid fa-align-justify"></i>
        <p>Textarea</p>
      </div>
      <div class="add-wrapper">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="form-element">
      <div class="icon-wrapper">
        <i class="fa-solid fa-file-arrow-up"></i>
        <p>File Upload</p>
      </div>
      <div class="add-wrapper">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</aside>
